.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(240, 235, 230);
}
.item {
    flex: 1;
    margin-left: 50px;
}
.body {
    background-color: rgb(245, 241, 235);
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
h1 {
    font-family: Skranki, monospace;
    text-align: center;
}
.images {
    width: 350px;
    height: auto;
    display:inline-block;

}
.images:hover {
    opacity:0.3;
}
.secondphoto {
    float:right;
    width: 40%;
    display: inline;
    height: auto;
}
